.shot {
  background-color: #fff;
  margin-bottom: .8em;
  position: relative;
  padding: 0;
  overflow: hidden;
  font-size: 0;
}

.shot img {
  height: 290px;
  min-width: 100%;
}

.shot .details {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  color: #FFF;
}

.shot:hover .details {
  top: 0;
  display: block;
  background: rgba(0, 0, 0, .6);
}