html,
input[type="text"] {
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    color: #4c4c4c;
    background: #f6f7f7;
    margin: 0;
}


/* Media queries */

@media (min-width: 0) and (max-width: 549px) {
    .shot-list li {
        text-align: center;
        margin: 20px 0 0;
        font-size: 0;
    }
}

@media (min-width: 550px) {
    .shot-list li {
        float: left;
        width: 50%;
        margin: 0;
    }
    .shot img {
        height: 235px;
    }
    .shot-list .no-gifs {
        float: none;
        width: 100%;
    }
    .shot {
        padding: 0;
        overflow: hidden;
        font-size: 0;
    }
}

@media (min-width: 769px) {
    .main-title {
        float: left;
    }
    .shot-list li {
        width: 33.333333333%;
    }
}

@media (min-width: 769px) {
    .shot-list li:nth-of-type(3n+1) {
        clear: left;
    }
}